* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10%;
}


#description{
    width: 25em;
    height: 25px;
}

#value {
    width: 25em;
    height: 25px;
}

#selectOption {
    width: 3%;
}
.add, .rensa{
color: green;
padding: 10px;
flex-basis: 100%;
max-width: 60%;
margin-top: 1.25%
}

.rensa {
    color: red;
}

.container {
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
}
/** test **/ 

